body  {
    
  background:  url(img/bg_pattern.jpg);
    
}
.top-section, 
.bottom-section  {
    
  background:  #171209;
    
  padding:  5px 0;
    
  color:  #999999;
    
  font-size:  12px;
    
}
.top-section .span8 > ul, 
.bottom-section .span8 > ul  {
    
  margin-top:  5px;
    
  margin-bottom:  -5px;
    
}
.top-section a, 
.bottom-section a  {
    
  text-decoration:  none;
    
  color:  #999999;
    
}
.top-section a: hover, 
.bottom-section a:hover  {
    
  color:  #c17315;
    
}
.top-section a: focus, 
.bottom-section a:focus  {
    
  color:  #7c4a0d;
    
}
.header-wrap  {
    
  background:  url(img/header_bg.jpg) repeat-x #ffa500;
    
  border-bottom:  6px #ae742e solid;
    
}
.header-wrap .logo  {
    
  margin:  10px 5px;
    
}
.header-wrap .header-socmed  {
    
  margin-top:  10px;
    
}
.header-wrap .the-show  {
    
  height:  340px;
    
  margin-bottom:  3px;
    
}
.visitor-control  {
    
  padding-top:  5px;
    
  color:  #ffffff;
    
  text-shadow:  0 -1px 0 #e88915;
    
}
.visitor-control a  {
    
  color:  #ffffff;
    
}
.visitor-control .popover-title  {
    
  color:  #333;
    
  font-size:  12pt;
    
  text-align:  center;
    
  font-weight:  bold;
    
  text-shadow:  none;
    
}
.visitor-control .popover-content  {
    
  color:  #333;
    
  text-shadow:  none;
    
  font-style:  normal;
    
}
.sidebar-title  {
    
  min-height:  30px;
    
  margin:  -4px -4px 5px;
    
  padding-left:  20px;
    
  padding-right:  20px;
    
  background-color:  #fafafa;
    
  background-image:  -moz-linear-gradient(top,  #ffffff,  #f2f2f2);
    
  background-image:  -webkit-gradient(linear,  0 0,  0 100%,  from(#ffffff),  to(#f2f2f2));
    
  background-image:  -webkit-linear-gradient(top,  #ffffff,  #f2f2f2);
    
  background-image:  -o-linear-gradient(top,  #ffffff,  #f2f2f2);
    
  background-image:  linear-gradient(to bottom,  #ffffff,  #f2f2f2);
    
  background-repeat:  repeat-x;
    
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',  endColorstr='#fff2f2f2',  GradientType=0);
    
  border-bottom:  2px solid #d4d4d4;
    
  -webkit-border-radius:  4px 4px 0 0;
    
  -moz-border-radius:  4px 4px 0 0;
    
  border-radius:  4px 4px 0 0;
    
}
.facebook-connect  {
    
  background:  url(img/facebook_connect_bg.jpg) no-repeat #ffffff center;
    
  height:  100px;
    
  vertical-align:  middle;
    
}
.facebook-connect img  {
    
  margin-top:  25px;
    
}
.clearfix  {
    
  *zoom:  1;
    
}
.clearfix: before, 
.clearfix:after  {
    
  display:  table;
    
  content:  "";
    
  line-height:  0;
    
}
.clearfix: after  {
    
  clear:  both;
    
}
.hide-text  {
    
  font:  0/0 a;
    
  color:  transparent;
    
  text-shadow:  none;
    
  background-color:  transparent;
    
  border:  0;
    
}
.input-block-level  {
    
  display:  block;
    
  width:  100%;
    
  min-height:  30px;
    
  -webkit-box-sizing:  border-box;
    
  -moz-box-sizing:  border-box;
    
  box-sizing:  border-box;
    
}
.well  {
    
  min-height:  20px;
    
  padding:  19px;
    
  margin-bottom:  20px;
    
  background-color:  #f5f5f5;
    
  border:  1px solid #e3e3e3;
    
  -webkit-border-radius:  4px;
    
  -moz-border-radius:  4px;
    
  border-radius:  4px;
    
  -webkit-box-shadow:  inset 0 1px 1px rgba(0,  0,  0,  0.05);
    
  -moz-box-shadow:  inset 0 1px 1px rgba(0,  0,  0,  0.05);
    
  box-shadow:  inset 0 1px 1px rgba(0,  0,  0,  0.05);
    
}
.well blockquote  {
    
  border-color:  #ddd;
    
  border-color:  rgba(0,  0,  0,  0.15);
    
}
.well-large  {
    
  padding:  24px;
    
  -webkit-border-radius:  6px;
    
  -moz-border-radius:  6px;
    
  border-radius:  6px;
    
}
.well-small  {
    
  padding:  9px;
    
  -webkit-border-radius:  3px;
    
  -moz-border-radius:  3px;
    
  border-radius:  3px;
    
}
.well-small2  {
    
  padding:  5px;
    
  -webkit-border-radius:  3px;
    
  -moz-border-radius:  3px;
    
  border-radius:  3px;
    
}
.showcase  {
    
  display:  block;
    
  line-height:  7px;
    
  -webkit-border-radius:  10px;
    
  -moz-border-radius:  10px;
    
  border-radius:  10px;
    
  -webkit-box-shadow:  0 1px 3px rgba(0,  0,  0,  0.055);
    
  -moz-box-shadow:  0 1px 3px rgba(0,  0,  0,  0.055);
    
  box-shadow:  0 1px 3px rgba(0,  0,  0,  0.055);
    
  -webkit-transition:  all 0.2s ease-in-out;
    
  -moz-transition:  all 0.2s ease-in-out;
    
  -o-transition:  all 0.2s ease-in-out;
    
  transition:  all 0.2s ease-in-out;
    
}
.showcase-carousel  {
    
  padding:  8px;
    
  -webkit-border-radius:  10px 0 0 10px;
    
  -moz-border-radius:  10px 0 0 10px;
    
  border-radius:  10px 0 0 10px;
    
  background-color:  #ffffff;
    
  height:  342px;
    
  -webkit-box-shadow:  0 5px 0 #bcbec0;
    
  -moz-box-shadow:  0 5px 0 #bcbec0;
    
  box-shadow:  0 5px 0 #bcbec0;
    
}
.row-fluid .span8-2  {
    
  width:  638px;
    
}

.showcase-rank {
  -webkit-box-shadow: 0 5px 0 #ae742e;
  -moz-box-shadow: 0 5px 0 #ae742e;
  box-shadow: 0 5px 0 #ae742e;
  padding: 0 5px;
  height: 342px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background-color: #edb259;
  background-image: -moz-linear-gradient(top, #f5c566, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5c566), to(#e6a14e));
  background-image: -webkit-linear-gradient(top, #f5c566, #e6a14e);
  background-image: -o-linear-gradient(top, #f5c566, #e6a14e);
  background-image: linear-gradient(to bottom, #f5c566, #e6a14e);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff5c566', endColorstr='#ffe6a14e', GradientType=0);
}
.showcase-rank h3 {
  color: #ac6f2c;
  text-shadow: 0 1px 0 #f6d892;
  margin: 5px 0 -10px;
}
.showcase-rank .rank-divider {
  background-color: #f7d083;
  border-bottom: 1px solid #f0b24d;
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
}
.showcase-rank .nav > li > a:hover,
.showcase-rank .nav > li > a:focus {
  text-decoration: none;
  background-color: #d99d30;
}
.showcase-rank .nav-tabs {
  font-weight: bolder;
  border-bottom: 1px solid #b68938;
}
.showcase-rank .nav-tabs > li {
  text-shadow: 0 1px 0 #f6d58e;
  margin-bottom: -1px;
}
.showcase-rank .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.showcase-rank .nav-tabs > .active > a,
.showcase-rank .nav-tabs > .active > a:hover,
.showcase-rank .nav-tabs > .active > a:focus {
  color: #ffffff;
  background-color: #f0ba5f;
  border: 1px solid #b68938;
  border-bottom-color: transparent;
  cursor: default;
}

.rank-content  {
    
  text-shadow:  0 -1px 0 #e18a23;
    
}
.rank-content img  {
    
  margin-left:  5px;
    
}
.rank-content: hover h4  {
    
  text-decoration:  underline;
    
}
.rank-content h4  {
    
  color:  #ffffff;
    
}
.rank-content span  {
    
  color:  #683426;
    
}
.sidebar h4  {
    
  color:  #cb7916;
    
  text-shadow:  0 1px 0 #ffffff;
    
}
.sidebar h5  {
    
  text-transform:  uppercase;
    
  margin:  0 10px 5px;
    
}
.sidebar .nav-pills > li > a  {
    
  color:  #333333;
    
  padding-top:  5px;
    
  padding-bottom:  5px;
    
  margin-top:  2px;
    
  margin-bottom:  2px;
    
  -webkit-border-radius:  5px;
    
  -moz-border-radius:  5px;
    
  border-radius:  5px;
    
}
.sidebar .nav-pills > .active > a, 
.sidebar .nav-pills > .active > a: hover, 
.sidebar .nav-pills > .active > a:focus  {
    
  color:  #555555;
    
  background-color:  #eeeeee;
    
}
.tab-content .nav > li > a: hover, 
.tab-content .nav > li > a:focus  {
    
  text-decoration:  none;
    
  color:  #c17315;
    
  background-color:  #ffffff;
    
}
.mid-content a: hover  {
    
  text-decoration:  none;
    
}
.content h4  {
    
  color:  #cb7916;
    
}
.content-item  {
    
  padding:  4px;
    
}
.content-item h5  {
    
  padding:  0 7px;
    
  color:  #333333;
    
}
.content-item p  {
    
  padding:  0 7px;
    
  color:  #c17315;
    
}
.content-item: hover h5  {
    
  text-decoration:  underline;
    
}
.content-item: hover img  {
    
  -webkit-box-shadow:  0 0 5px #cf9f62;
    
  -moz-box-shadow:  0 0 5px #cf9f62;
    
  box-shadow:  0 0 5px #cf9f62;
    
}
.footer  {
    
  border-top:  7px solid #f0b645;
    
  padding:  10px 0 10px;
    
  margin-top:  10px;
    
  background:  url(img/footer_bg_pattern.jpg) #333333;
    
}
.footer h4  {
    
  padding-left:  5px;
    
  padding-bottom:  5px;
    
  color:  #e08518;
    
  border-bottom:  1px dashed #e08518;
    
}
.footer ul  {
    
  color:  #ffffff;
    
}
.footer li > a  {
    
  color:  #ffffff;
    
}
.footer li > a: hover  {
    
  text-decoration:  none;
    
  color:  #e08518;
    
}

#twitter
{
	*border:1px solid;
	padding:6px 10px 0 10px;
	color:#69D;
	background: url(images/column.png);
}

#twitter hr {
	border:1px dashed #69D;
}

#twitter h5 {
	background: url(images/twitter.png) no-repeat left top;
}

.default {
	background: #f8f8f8;
	border: 1px solid #dbdee1;
	padding:10px;
}

.success {
	background: #eaf7d9;
	border: 1px solid #bbdf8d;
	padding:10px;
}

.error {
	background: #f2dede;
	border: 1px solid #ebcccc;
	padding:10px;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.center{
	text-align:center;
}


.navbar-inverse2 .nav > li > a {
	font-weight:bold;
	font-size:16px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu {
	margin-top:-3px;
}

.dropdown-menu > li {
	position:relative;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.content-item:hover{
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

a:hover, a:focus {
	text-decoration: none;
	text-align:left;
}

.content-item p{
	margin-top:-1px;
	margin-bottom:-1px;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
	content: none;
}

.dropdown:hover {
	background-color:#777777;
}